lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

.DS_Store

node_modules/*
log/*.log
*.swp

public/js/client.min.js

*.esproj
nohup.out

lib/client.bundle.js

*.rdb