<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ufo.js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple p2p application base on browser">
    <meta name="author" content="{boemianrapsody, b3by.in.th3.sky} [at] gmail.com">

    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="css/p2pstylish.css" rel="stylesheet">
    
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>    
    <script src="js/client.min.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  
  <body>
  
  <object id="plugin" type="application/x-ufojs-mothership" width="0" height="0"></object>
  <div class="container">

	<script>
		
		var testPeerArray = [];
		var ids = 0;
		var iter = 0;
		
		var console = {
			log: function(message) {
				$('#consoleLogPanel').prepend('<p>' + message + '</p>');
			},
			msg : function(message) {
				$('#consoleMessages').prepend('<p>' + message + '</p>');
			},
			warn : function(message) {
				$('#consoleWarnPanel').append('<p>' + message + '</p>');
			}
		};
		
		$(document).ready(function() {
		      $('#myOwnID').html('<p>' + client.id + '</p>');
			client.pool.onPoolChanged = function() {
				var div = $('<div></div>');
				var printList = function(element, index, array) {
					div.append('<label class="checkbox"><input id="peer_' + index + '" type="checkbox"> ' + element + '</label><br>');
				};
				client.pool.getIds().forEach(printList);
				//client.pool.getIds().forEach(function(id) { div.append('<input id="' + id + '" type="checkbox">' + id + '<br>'); });
				$('#peerList').html(div);
			};
			console.log('Assigned ID is ' + client.id);
		});
		
		var runClient = function() {
			console.log('Client is contacting server.');
			$('#bootstrapBtn').attr('disabled', 'disabled');
			$('#disconnectBtn').prop('disabled', null);
			
			client.onBootstrapPerformed = function() {
				//$('#peerList').html('<div><input id="peer_0" type="checkbox">' + client.pool.getIds()[0] + '<br></div>');
			}
			
			client.onDensifyPerformed = function() {
			}
			
			var el = document.getElementById('serverList');
			var text = el.options[el.selectedIndex].text;
			console.log(text);
			client.bootstrap(text);
		}
		
		var sendMessage = function() {
			var messageToSend = $('#messageBox').val();
			for (var index = 0; index < 4; index++) {
				if ($('#peer_' + index).is(':checked')) {
					client.pool[client.pool[index]].send(new p2pPacket('echo', messageToSend, true));
					console.msg('Sent: ' + messageToSend);
				}
			}
		}
		
		var disconnectClient = function() {
			client.disconnect();
			$('#bootstrapBtn').attr('disabled', null);
			$('#disconnectBtn').attr('disabled', 'disabled');
		}

		var serverizeClient = function() {
			var ufoPlugin = document.getElementById('plugin');
			//ufoPlugin.onmessage = function(msg) { console.log(msg); };
			client.setAsServer(ufoPlugin);
			ufoPlugin.startLocalServer(9003);
			
			var http = new XMLHttpRequest();
			//var url = "http://www.ufojs.com/serverize";
			var url = "http://" + document.location.host + "/serverize";
			//var params = "id=" + client.id + "&addr=" + document.location.host + "&port=" + document.location.port;
			var params = "id=" + client.id;
			http.open("POST", url, true);
			http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			
			http.onreadystatechange = function() {
				if(http.readyState == 4 && http.status == 200) {
					console.log(http.getAllResponseHeaders());
					console.log(http.responseText);
				}
			}

			http.send(params);
		}
		
		var heartbeatClient = function() {
			var http = new XMLHttpRequest();
			var url = "http://www.ufojs.com/heartbeat";
			var params = "id=" + client.id;
			http.open("POST", url, true);
			http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			
			http.onreadystatechange = function() {
				if(http.readyState == 4 && http.status == 200) {
					console.log(http.getAllResponseHeaders());
					//console.log(http.responseText);
				}
			}
			
			http.send(params);
		}
		
		var manualConnect = function() {
			var manualServer = document.getElementById("manualIP").value;
			client.bootstrap(manualServer);
		}
		
		var increasePoolSize = function() {
			client.pool = new connectionPool(9999);
			client.pool.onPoolChanged = function() {
				var div = $('<div></div>');
				var printList = function(element, index, array) {
					div.append('<label class="checkbox"><input id="peer_' + index + '" type="checkbox"> ' + element + '</label><br>');
				};
				client.pool.getIds().forEach(printList);
				//client.pool.getIds().forEach(function(id) { div.append('<input id="' + id + '" type="checkbox">' + id + '<br>'); });
				$('#peerList').html(div);
			};
		}
		
		var testServer = function() {
			if(++iter < 10) {
				client.id = 'peer' + String(ids++);
				client.onBootstrapPerformed = testServer;
				client.bootstrap(document.getElementById("manualIP").value);
			} else {
				iter = 0;
				client.onBootstrapPerformed = function(){};
			}
		}

	</script>

	<div class="masthead">
  		<h3 class="muted">ufo.js node page</h3>
	</div>
	<hr>
	<div class="row" id="bootstrapRow" align='center'>
        	<div class="span6 offset3" align="center">
			<button class="btn btn-primary btn-warning" type="button" id="bootstrapBtn" onClick="runClient();">Bootstrap</button>
			<button class="btn btn-primary btn-inverse" type="button" id="serverizeBtn" onClick="serverizeClient();">Serverize</button>
			<button class="btn btn-primary btn-inverse" type="button" id="serverizeBtn" onClick="document.getElementById('plugin').stopLocalServer();">Stop server</button>
			<button class="btn btn-primary btn-primary" type="button" id="heartbeatBtn" onClick="heartbeatClient();">Heartbeat</button>
			<button class="btn btn-primary btn-info" type="button" id="bootstrapBtn" onClick="client.densify();">Densify</button>
			<button class="btn btn-primary btn-danger" type="button" id="disconnectBtn" onClick="disconnectClient();" disabled>Disconnect</button>
		</div>
	</div>
	
	<hr>
	
	<div class="row">
		<div class='span3'>
			<select id='serverList' class="span3">
				<% for(var i=0; i<serverList.length; i++) { %>
						<option id="server<%= i %>"><%= serverList[i] %></option>
				<% } %>
			</select>
			<input id="manualIP" type="text"></input><button class="btn" type="button" onClick="manualConnect()">Connect</button>
			<button class="btn" type="button" onClick="testServer()">Test</button>
			<button class="btn" type="button" onClick="increasePoolSize()">Enlarge your penis</button>
		</div>
		<div class='span3'>
			<div id='consoleLogTitle' class='alert alert-info' style='overflow : auto; font-size : 12px; height : 300px'>
				<p align='center'>Status</p><hr><FONT FACE="courier">
				<div id='consoleLogPanel' style='font-size : 11px'></div></FONT>
		</div></div>
		<div class='span3'>
			<div id='consoleMessagesTitle' class='alert alert-success' style='overflow : auto; font-size : 12px; height : 300px'>
				<p align='center'>Messages</p><hr><FONT FACE="courier">
				<div id='consoleMessages' style='font-size : 11px' classe='alert alert-warning' style='font-size : 12px;'></div></FONT>
		</div></div>
		<div class='span3'>
				<p>
					<div id='myOwnID' class='alert alert-error' style='overflow : auto; font-size : 12px; height : 20px';></div>
				</p>
				<p>
					<input id='messageBox' type='text' value='Burp here!' name='messageBox' onfocus="this.value=''">
				</p>
				<p>
					<button class="btn btn-primary btn-success" type="button" id="sendMessage" onClick="sendMessage()">Send message</button>
				</p>
				<p id='peerList'>
					
				</p>
		</div>
		<!--
		<div class='span4'>
			<div id='consoleErrPanel' class='alert alert-error' style='font-size : 12px;'><p align='center'>Errors</p><hr></div>
		</div>
		-->
	</div>
	
	<!--
	<div class='row'>
		<div class='span4'>
		<div id='myOwnID' class='alert alert-error' style='overflow : auto; font-size : 12px; height : 30px'>
		</div>
	</div>
	-->
		
  </div>
  
  </body>
  
  </html>
